{% extends 'home.html' %}

{% block content %}
{% load static %}
<!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'images/240.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Welcome <strong> {{ user }} </strong> to the world of microscopic images your score is : </h2>
                <p data-animation="fadeInUp" data-delay="300ms">Total score: {{ profile_user.total_score }}<br>
                  Component Cell Types score: {{ profile_user.component_score }}<br>
                  Microscopy Images score: {{ profile_user.microscopy_score }}<br></p>
                <div class="welcome-btn-group">
                  <a href="quiz/microscopy/" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Keep on going</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

{% endblock %}