{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Biological Cell image Quiz ">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Biological Cell Image Quiz</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'cellimageQuizApp/img/core-img/logo1.png' %}">

  <!-- Core Stylesheet -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'cellimageQuizApp/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="https://outlook.office.com/mail/inbox" data-toggle="tooltip" data-placement="bottom" title="abdeljalil.senhaji-rachik@etu.univ-amu.fr"><i class="fa fa-envelope"></i> <span>abdeljalil.senhaji-rachik@etu.univ-amu.fr</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://www.facebook.com/rachiksenhaji" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://mail.google.com/mail/u/0/#inbox" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/in/abdeljalil-senhaji-rachik-173509181/" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="/"><img src="{% static 'cellimageQuizApp/img/core-img/image.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">START THE QUIZ</a>
                    <ul class="dropdown">
                      <li><a href="quiz/microscopy/"> * Microscopy image</a></li>
                      <li><a href="quiz/component"> * Component cell types</a></li>
                    </ul>
                  </li>
                  <li><a href="/exploreimages">Explore Page</a></li>
                  <li><a href="/model_information">Information Quiz</a></li>
                  <li><a href="/login">Log In</a></li>
                  <li><a href="/sign_up">Sign UP</a></li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->



  <!-- bloooooooock -->
    <center>
    {% block content %}

    {% endblock %}
    </center>


  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'images/41920.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Image Cell</h2>
              <div class="line"></div>
            </div>
            <p>Confocal image of synaptic connexions in the mouse olivo-cerebellar system.  Purkinje cells (immunofluorescence, blue), olivary axons (anterograde tracing, yellow) and synaptic terminals (immunofluorescence, red) are shown, revealing the highly speciﬁc organization of neuronal connexions in the mouse cerebellum.  Honorable Mention, 2009 Olympus BioScapes Digital Imaging Competition.</p>

            <!-- Single Skills Area -->
            <div class="section-heading">
              <h6>Cell type : Neuron</h6>
              <div class="line"></div>
            </div>

            <!-- Single Skills Area -->
            <div class="section-heading">
              <h6>Component : Synaptic terminal</h6>
              <div class="line"></div>
            </div>

            <!-- Single Skills Area -->
              <div class="section-heading">
              <h6>Mode : Confocal microscopy</h6>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>


  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">100</span></h2>
            <h5>General Culture</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">100</span></h2>
            <h5>Cellular Biology</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">100</span></h2>
            <h5>Certificate</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">100</span></h2>
            <h5>Enrich Your Knowledge</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->



    <!-- ***** QUIZ Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>QUIZ Of Cell and component images</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <!-- Single QUIZ Area -->
        <div class="col-12 col-sm-6 col-md-6">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'images/39469.jpg' %}" alt="">
            <!-- QUIZ Content -->
            <div class="dentist-content">
              <!-- QUIZ Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Microscopy image</h5>
                <p>Know the characteristics of each microscope</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single QUIZ Area -->
        <div class="col-12 col-sm-6 col-md-6">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'images/39346.jpg'%}" alt="">
            <!-- Quiz Content -->
            <div class="dentist-content">
              <!-- Quiz Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Component cell types</h5>
                <p>know the characteristics of each cell type</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** quiz Area End ***** -->



  <!-- quiz Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'images/214.jpg' %}');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Quiz Video Tutorial</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'cellimageQuizApp/img/core-img/2222.png' %}" alt="">
                  <h6>Quiz of the microscope types and its cell components</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'cellimageQuizApp/img/core-img/70547.png' %}" alt="">
                  <h6>The Answer True</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <iframe width="600" height="350" src="https://www.youtube.com/embed/B_zD3NxSsD8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- quiz Service Area End -->


  <!-- add espace abdeljalil -->


      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2></h2>
            <div></div>
          </div>
        </div>
      </div>

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'images/master.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'images/abdeljalil.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“This site was created within the framework of a project of the module "web programming - Django" in master2 DLAD (Software development and data analysis) at the university of Aix-Marseille.
                  note: i hope this site helps people to develop their knowledge in cell biology.”</h5>
                <h6>ABDELJALIL SENHAJI RACHIK</h6>
                <p>Bioinformatics Student</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'images/abdeljalil.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“This site was created within the framework of a project of the module "web programming - Django" in master2 DLAD (Software development and data analysis) at the university of Aix-Marseille.
                  note: i hope this site helps people to develop their knowledge in cell biology.”</h5>
                <h6>ABDELJALIL SENHAJI RACHIK</h6>
                <p>Bioinformatics Student</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->
  <div class="row">
    <!-- Section Heading -->
    <div class="col-12">
      <div class="section-heading text-center white">
        <h2></h2>
        <div></div>
      </div>
    </div>
  </div>
  <!-- Book An Oppointment Area Start -->


<!-- cantact mail-->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'images/214.jpg' %}');">
  <div class="container">
	<div class="row">
      <div class="col-6">
        <div class="section-heading text-center white">
          <h2>CONTACT</h2>
          <div class="line"></div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>

            <!-- Name input-->
            <div class="col-16">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="form-group mb-30">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>

            <!-- Email input-->
            <div class="col-16">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="form-group mb-30">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>

            <!-- Message body -->
            <div class="col-16">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="form-group mb-30">
                <textarea name="your-message" class="form-control" placeholder="Please enter your message here..."></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group text-center">
              <div class="col-12 text-center">
                <button type="submit" class="btn dento-btn">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
  </div>
  </section>
  <!-- Book An Oppointment Area End -->



<!-- ***** Footer ***** -->
  <footer class=" mt-5 bg-img bg-gradient-overlay" style="background-image: url({% static 'images/39954.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 text-center">
          <div class="single-footer-widget">
            <a href="/" class="d-block mb-4"><img src="{% static 'cellimageQuizApp/img/core-img/image.png' %}" alt=""></a>
            <p>Welcome to CellImageQuiz : Increase your knowledge in biology.</p>
            <div class="footer-contact">
              <p><i class="icon_phone"></i> +336 24 28 03 91</p>
              <p><i class="icon_mail"></i>abdeljalil.senhaji-rachik@etu.univ-amu.fr</p>
            </div>
            <div class="copywrite-content">
              <p>Create By <strong> Abdeljalil </strong> | This images is made with <i aria-hidden="true"></i> by <a href="http://cellimagelibrary.org/home" target="_blank">Cell Image <a href="https://themeslab.org/" target="_blank"></a>Library</a></p>
            </div>
          </div>
      </div>
    </div>
  </footer>
<!-- ***** Footer  ***** -->

  <!-- ******* All JavaScript ******* -->
  <!-- jQuery js -->
  <script src="{% static 'cellimageQuizApp/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'cellimageQuizApp/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'cellimageQuizApp/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'cellimageQuizApp/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'cellimageQuizApp/js/default-assets/active.js' %}"></script>

</body>

</html>