<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta name="description" content="Biological Cell image Quiz ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon -->
    <link rel="icon" href="{% static 'cellimageQuizApp/img/core-img/logo1.png' %}">
    <title>Quiz Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="modal-dialog modal-lg" id="myModal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <a class="nav-brand" href="/"><img src="{% static 'cellimageQuizApp/img/core-img/image.png' %}" alt=""></a>
        </div>
        <div class="modal-body">
            <strong> &#129300 Welcome in Cell Image Quiz.</strong><br><br>
            --> Registration is required to start the quiz.<br><br>
            --> After registration:<br><br>
            &#10004 You have two categories of <strong> Quiz </strong>:<br><br>
            &#10004 The one with the images of the types of the microscope.<br><br>
            &#10004 and the other with the types of the cellular components<br><br>
            --> A score of the point that is <strong> registered </strong>for each game.<br><br>
            &#11035 Total score: <br>
            &#11035 Component Cell Types score<br>
            &#11035 Microscopy Images score <br></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</body>
</html>