<div class="modal-dialog modal-lg" id="myModal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <a class="nav-brand" href="/"><img src="{% static 'cellimageQuizApp/img/core-img/image.png' %}" alt=""></a>
        </div>
        <div class="modal-body">
            Welcome in Cell Image Quiz.<br><br>
            Registration is required to start the quiz.<br><br>
            After registration:<br><br>
            - You have two categories of Quiz:<br><br>
            -> The one with the images of the types of the microscope.<br><br>
            -> and the other with the types of the cellular components<br><br>
            A score of the point that is registered for each game.<br><br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


<!-------------------------------------->


 <script>
       alert('Good response!');
 </script>


<!----------------------------------->


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" data-toggle="modal" data-target="#exampleModalLong">About Scores</a>
              <!-- START Modal rq: l'id doit être égal à data-target-->
            <!-- Modal -->
                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">More informations about biology quiz scores</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Component quiz: win 3 points or loose 3 points.<br>
                          Microscopy quiz: win 1 point or loose 1 point.<br>
                            <br><br>
                          You have three levels:<br>
                          - Beginner,<br>
                          - Medium (>20 points) and,<br>
                          - Advanced (>60 points).<br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Done !</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <!-- END Modal -->
          </li>
        </ul>
      </div>



<!--------------------------------------------------->